.calculator {
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.screen {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
}

button {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-size: large;
}
